.text-vertical {
    font-size: 20px;
    text-align: center;
    white-space:wrap;
    width:1px!important;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */

}